* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #93DA97, #ffffff);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    /* min-height: 60vh; */
    background-color: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app:hover{
    border: 1px solid #7de382;
}
.todo-app h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 40px;
    margin-left: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #93DA97;
  
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
}
.row:hover{
      background-color: #7de382;   
}

input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    background: transparent;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #5E936C;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color: #f3fff3;
    margin-bottom: 15px;
    border-radius: 20px;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(img/circle.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked {
    color: rgb(103, 103, 103);
    text-decoration: line-through;
}

ul li.checked::before {
    width: 25px;
    height: 25px;
    background-image: url(img/tick.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 3px;
    width: 35px;
    height: 35px;
    line-height: 37px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    color: #5e615e;
}
ul li span:hover{
    background-color: #d9f7db;
}